body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.fonas{
    background-color:grey;
}
    .melynas-fonas{
        display: inline-block;
        background-color: #0C122C;
        width: 800px;
        height: 450px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: center bottom;
    }
        .kaire{
            display: inline-block;
            float: left;
            background-color: #1E2C69;
            width: 30%;
            margin-left: 100px;
            margin-top: 160px;
            border: 20px solid #1E2C69;
            border-radius: 10px 70px 10px 10px;
        }
            .Fylo{
                display: inline-block;
                /* background-color: yellow; */
                width: 100%;
                padding: 10px;
            }
                .logo{
                    height: 34px;
                }
            .mygtukai{
                display: inline-block;
                /* background-color: red; */
                width: 100%;
            }
            .grid-container {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto auto;
                background-color: transparent;
                padding: 10px;
                width: 50px;
              }
              .grid-container > a {
                display: flex;
                justify-content: center;
                align-items: center;
                float: left;
                background-color: #0C122C;
                text-align: center;
                padding: 10px;
                border-radius: 8px;
                width: 44px;
              }

                 /* .document {
                    background-color: #0C122C;
                    padding: 8px;
                    border-radius: 5px;  
                    height: 30px;
                    margin-right: 5px;
                    width: 30px;
                }
                .folder {
                    background-color: #0C122C;
                    padding: 9px;
                    border-radius: 5px;
                    height: 30px;
                    margin-right: 5px;
                }
                .upload {
                    background-color: #0C122C;
                    padding: 10px;
                    border-radius: 5px;
                    height: 30px;
                } */
        .desine{
            display: inline-block;
            float: left;
            background-color: aqua;
            width: 40%;
            margin-left: 25px;
            margin-top: 160px;
            padding: 20px;
        }
            .gb{
                width: 100%;
                background-color: blue;
            }
            .meter {
                background-color: violet;
                width: 100%;
            }
            .zerogb {
                display: inline-block;
                float: left;
                background-color: white;
            }
            .fullgb {
                display: inline-block;
                float: right;
                background-color: chartreuse;
            }

.attribution{
    text-align: center;
    margin-top: 20px;
}

