body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Raleway';
}
.fonas{
    background-color:grey;
}
    .melynas-fonas{
        display: inline-block;
        background-color: #0C122C;
        width: 800px;
        height: 410px;
        margin-top: 100px;
        margin-left: calc((100% - 800px) / 2);
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-size: 800px;
        background-position: center bottom;
    }
    .bottom-line {
        display: flex;
        align-items: flex-end;
    }
        .kaire{
            display: inline-block;
            float: left;
            align-items: flex-end;
            background-color: #1E2C69;
            width: 30%;
            margin-left: 100px;
            /* margin-top: 160px; */
            border: 10px solid #1E2C69;
            border-radius: 10px 70px 10px 10px;
        }
            .Fylo{
                display: inline-block;
                /* background-color: yellow; */
                width: 100%;
                padding: 10px;
            }
                .logo{
                    height: 30px;
                }
            .mygtukai{
                display: inline-block;
                /* background-color: red; */
                width: 100%;
            }
            .grid-container {
                display: grid;
                grid-gap: 10px;
                grid-template-columns: auto auto auto;
                background-color: transparent;
                padding: 10px;
                width: 50px;
              }
              .grid-container > a {
                display: flex;
                justify-content: center;
                align-items: center;
                float: left;
                background-color: #0C122C;
                text-align: center;
                padding: 10px;
                border-radius: 8px;
                width: 44px;
              }
        .desine{
            display: inline-block;
            float: left;
            align-items: flex-end;
            background-color: #1E2C69;
            width: 40%;
            margin-left: 25px;
            margin-top: 160px;
            border: 20px solid #1E2C69;
            border-radius: 10px;
            font-size: 14px;
            color: white;
        }
            .gb{
                width: 100%;
                margin-bottom: 10px;
            }
            .meter {
                width: 100%;
            }
            .zerogb {
                display: inline-block;
                float: left;
            }
            .fullgb {
                display: inline-block;
                float: right;
            }

.attribution{
    text-align: center;
    margin-top: 20px;
}

